services:
    db:
        image: mysql:8.0
        container_name: twitter-mysql
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_NAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - "{DB_PORT}:3306"
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:
